{% extends 'base.html' %}

{% block content %}

<div class="container col-lg-2 col-lg-12">
    <div class="my-5">
        <h3>Novi igrac</h3>
    </div>

    <form action={{ url_for('igrac_novi') }} method="POST">
        <div class="form-group">
            <label for="ime">Ime</label>
            <input type="text" class="form-control" name="ime" required>
            </div>
            <div class="form-group">
                <label for="prezime">Prezime</label>
                <input type="text" class="form-control" name="prezime" required>
                </div>
                <div class="form-group">
                    <label for="poeni">Poeni</label>
                    <input type="text" class="form-control" name="poeni" required>
                    </div>
                    <div class="form-group">
                        <select name="rola" class="form-control">
                            <option selected disabled>Izaberite rolu</option>
                            <option value="Panatinaikos">Panatinaikos</option>
                            <option value="Makabi">Makabi</option>
                            <option value="Baskonija">Baskonija</option>
                            <option value="Zalgiris">Zalgiris</option>
                            <option value="Real Madrid">Real Madrid</option>
                            <option value="Olimpijakos">Olimpijakos</option>
                        </select>
                    </div>
                    
                        <input type="submit" value="Sacuvaj" class="btn btn-orange">
         
        </div>
    </form>
</div>

{% endblock %} 